/** @format */

.main-todo {
  display: flex;
  flex-direction: column;

  margin: 100px 150px;

  .add-todo {
  }
  .render-list-todo {
  }
  .render-items-todo {
    display: flex;
    flex-direction: row;
    padding: 4px 0px;
    .item-todo {
      min-width: 100px;
      list-style: none;
    }
  }

  .edit-todo {
    margin-left: 12px;

  }
  .delete-todo {
    margin-left: 10px;
  }
}

table, th, td {
  border:1px solid black;
}
